form {
    text-align: left;
}

div {
    margin-bottom: 2%;
}

.form-group #A {
    display: inline-block;
    width: 50%;
    margin-bottom: 2%;
}

.form-group #B {
    display: inline-block;
    width: 50%;
    margin-bottom: 2%;
}


.form-group h4 {
    margin-bottom: 0px;
}

.form-group #firstname {
    width: 95%;
}

.form-group #lastname {
    width: 95%;
}

.form-group #email {
    width: 100%;
}

.form-group #phone {
    width: 100%;
}

.form-group #comment {
    width: 100%;
    height: 100px;
}