h6 {
    text-align: left;
    margin-bottom: 0%;
}

#name {
    display: block;
    text-align: left;
}

#firstname {
    height: 30px;
    width: 40%;
}

#lastname {
    height: 30px;
    width: 40%;

}

#epa {
    display: block;
    text-align: left;
}

#email {
    height: 30px;
    width: 100%;
}

#phonenumber {
    height: 30px;
    width: 100%;
}

#address {
    height: 30px;
    width: 100%;
}