<div class="Title">
    <div class="header">
        <section class="A">
            <h1 style="color: rgb(189, 29, 173);"> Contact Support</h1>
            <h1> Customer Support Center</h1>
        </section>
        <section class="B">
            <img src="assets/photos/laptop.svg" alt="laptop.png" width="150px">
        </section>
    </div>
    
    <div class="header">
        <h4>Contact Information</h4>
        <h6>Please fill out your contact information below</h6>
    </div>
</div>
