button {
    text-align: center;
    margin-top : 5%;
    margin-bottom: 5%;
    font-size: 30px;
}

.example-button-row {
display: table-cell;
max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
margin: 8px 8px 8px 0;
}